<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="/css/styles.css" rel="stylesheet">
    <title>Appointment Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <%- include('header.ejs', {user: "any"}) %>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2 text-lg">
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="flash-error"> <%= messages.error[i] %></p>
                <% } %>
            <% } %>
            <p class="py-2">Welcome to the Appointment Manager</p>
            <h2 class="text-2xl text-white"><span class="bg-green-600 ">Doctors </span>(To get others to book an appointment with you)</h2>
            <h2 class="py-2">Do you need to appoint others?</h2>
            <p class="py-2">New here? <a href="/organizer/signup" class="text-green-600">Sign-up now</a></p>
            <p class="py-2">Already have an account? <a href="/organizer/login" class="text-green-600">Sign-in</a></p>
            <br><br>
            <h2 class="text-2xl py-2 text-white"><span class="bg-green-600 ">Guests </span>(To book appointments)</h2>
            <h2 class="py-2">Do you need to book appointments?</h2>
            <p class="py-2">New here? <a href="/signup" class="text-green-600">Sign-up now</a></p>
            <p class="py-2">Already have an account? <a href="/login" class="text-green-600">Sign-in</a></p>
            <br>
            <p class="py-2">Platform Demo: <a class="text-green-600" href="https://www.loom.com/share/fa6bd374499e4a8e8f93312e2dfe9344" target="_blank">Video 1</a><br>
            <a class="text-green-600 pl-10 ml-20" href="https://www.loom.com/share/972a21b1dd2644ddbb0dd0283844216f">Video 2</a></p>
        </div>
    </div>
</body>
</html>