body {
  font-family: "Times New Roman", Times, serif;
}

.inline {
  display: inline;
}

.menuBackground {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.floatRight {
  float: right;
}

.menuitem {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  float: right;
  text-decoration: none;
}

.activePage {
  background-color: #04aa6d;
}

.centerElement {
  text-align: center;
}

.menuBackground2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: fit-content;
  background-color: yellow;
}

.menuitem2 {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  float: left;
  text-decoration: none;
}

.flash-success {
  background-color: rgb(90, 252, 40);
  margin-top: 10px;
  padding: 3px;
  width: fit-content;
}

.flash-error {
  background-color: rgb(250, 121, 121);
  margin-top: 10px;
  padding: 3px;
  width: fit-content;
}

.disabledbg {
  background-color: #d1d1d1;
}
